* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 4rem;
  /* color: blue; */
  margin: 20px;
}
.mt-50 {
  margin-top: 20px;
}
/* //mode files css / */
.hide {
  display: flex;
  flex-direction: column;
  width: 11%;
}
#mode {
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  font-size: 30px;
}
#twobtn {
  margin: 20px;
}
#day {
  /* margin: 20px; */
  background-color: #fff;
  color: rgb(238, 45, 7);
  border-radius: 5px;
  cursor: pointer;
}
#night {
  /* margin: 20px; */
  background-color: black;
  cursor: pointer;
  color: yellow;
  border-radius: 5px;
}

/* adding media query */
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  h1 {
    color: red;
    font-size: 1rem;
  }
}
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
    color: blue;
  }
}
